.cook-item {
  border: 1px solid #787877;
  border-radius: 10px;
  background: #fff;
}
::-webkit-scrollbar {
  display: none;
}

.welcome {
  .ant-select-selection-multiple {
    white-space: nowrap;
    height: 100px;
    overflow: auto;
  }
  .ant-select-selection-overflow {
    min-height: 40px;
  }
  .ant-select-selection-overflow-item {
    align-self: auto !important;
  }
  .ant-select-multiple .ant-select-selection-item {
    height: 40px;
    font-size: 16px;
  }
  .ant-select-selection-item-remove {
    align-self: center;
  }
  .ant-select-multiple {
    .ant-select-selection-item-content {
      align-self: center;
    }
  }
  .ol-number {
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    text-align: center;
    color: #000;
  }
  .ant-form {
    font-size: 18px;
    color: #fff;
  }
  .ant-radio-wrapper {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .ant-radio-wrapper span {
    align-items: center;
    display: flex;
  }
  .button-change {
    height: 40px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: bold;
  }
}
.ant-modal-content {
  background-color: rgba(255, 255, 255, 0.85);
}
.ant-modal-header {
  background-color: rgba(255, 255, 255, -0.85);
}
.active {
  border: 3px solid #2881c9 !important;
}

.ant-modal {
  top: 20px;
}
.ant-modal-body {
  padding-top: 0px !important ;
}

div.ant-typography {
  margin-bottom: 0;
}
